<h1>Hi Dad,</h1>

<h3>The purpose of this "present" is to showcase my ability to now deploy websites on the internet. I am going to continue to teach myself ruby on rails along side of my normal KU classes in hopes of combing the two.
I can do this since my Business analytics classes will teach me to create databases using SQL and combined with knowledge of back-end code I can create very useful applications! I am using this time at kansas to create business connections, learn valuable workplace lessons 
and build my toolbox by becoming proficient in Ruby on Rails, SQL and Excell. Let me know about any future internships that you find and I will keep looking at Kansas too. I hope all is going well and can't wait to 
see you during spring break.</h3>
<h1>With Love,</h1>

<h1>James</h1>

<h3>P.S. The dog we are watching this week is awesome and a rescue so click the link(Milkbone looks awesome)! </h3>

<a class="btn btn-primary btn-lg" href="https://www.dupageco.org/AnimalServices/AvailableAnimals.aspx" role="button">Avaliable animals!</a>