
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Leonard Family</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="welcome/mom">Mom click here!</a></li>
        <li><a href="welcome/dad">Dad click here!</a></li>
      </ul>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>My Awesome Family</h1>      
    <p>The adventures of TADSMJL(Tom,Anne,Dan,Sarah, Matt, and JAMES!!!)</p>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3>Some of the many examples</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Trips to the United Center</p>
      <img src="assets/IMG_3529.png" class="img-responsive" style="width:100%"  alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Family photos</p>
      <img src="assets/IMG_3525.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Walking 100 miles in our captial</p>
      <img src="assets/IMG_3526.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Trips to drive Dan back to Chicago</p>
      <img src="assets/IMG_3527.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3">
      <p>Trips to a now forclosed lake house</p>
      <img src="assets/IMG_3528.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Trips to the most magical place on earth</p>
      <img src="assets/IMG_3522.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Christmas Family Photo!</p>
      <img src="assets/IMG_3530.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Trips to graduation</p>
      <img src="assets/IMG_3532.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Love you guys!</p>
</footer>

</body>
</html>