<h1>Hi Mom,</h1>
<h3>I hope all is going well  in Glen Ellyn and at Trinity irish dance. I have been learning a lot at Kansas about myself
and what I plan on doing in the future. I believe I selected the right major for me as it combines both business and computer 
science which are the two areas I beleive I will perform best. After college I would be suprised if I did not work in the Chicago area 
but that isn't a certainty but I KNOW you would love to have me. All in all school is going great and I have been making many valuble business connections, learning valuable workplace lessons and have been building my toolbox of useful programs such as Ruby on Rails, SQL and Excel.
I can't wait to see you during spring break!</h3>
<h1>With love,</h1>
<h1>James</h1>